@font-face{font-family:iconos-santander;src:url(fonts/santander-icons-old.eot?d2j2q2=);src:url(fonts/santander-icons-old.eot?d2j2q2=#iefix) format("embedded-opentype"),url(fonts/santander-icons-old.ttf?d2j2q2=) format("truetype"),url(fonts/santander-icons-old.woff?d2j2q2=) format("woff"),url(fonts/santander-icons-old.svg?d2j2q2=#iconos-santander) format("svg");font-weight:400;font-style:normal }[class*=" icon-"],[class^=icon-]{font-family:iconos-santander!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale }.icon-info:before{content:"\E9CE" }.icon-exclamation:before{content:"\E98A" }.icon-check:before{content:"\E942" }
@font-face {font-family: 'santander-icons';src: url('fonts/santander-icons_20191209.eot');src: url('fonts/santander-icons_20191209.eot') format('embedded-opentype'), url('fonts/santander-icons_20191209.ttf') format('truetype'), url('fonts/santander-icons_20191209.woff') format('woff'), url('fonts/santander-icons_20191209.svg') format('svg');font-weight: normal;font-style: normal;font-display: block;}[class^="str-"], [class*=" str-"] {font-family: 'santander-icons' !important;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}.str-accelerator:before {content: "\e900";}.str-accessibility:before {content: "\e901";}.str-account-bonus-dollar:before {content: "\e902";}.str-account-bonus-euro:before {content: "\e903";}.str-account-bonus-pound:before {content: "\e904";}.str-account-dollar-02:before {content: "\e905";}.str-account-dollar:before {content: "\e906";}.str-account-euro:before {content: "\e907";}.str-account-group-dollar:before {content: "\e908";}.str-account-group-euro:before {content: "\e909";}.str-account-group-pound:before {content: "\e90a";}.str-account-management-dollar:before {content: "\e90b";}.str-account-management-euro:before {content: "\e90c";}.str-account-management-pound:before {content: "\e90d";}.str-account-people:before {content: "\e90e";}.str-account-pound:before {content: "\e90f";}.str-account-search-dollar:before {content: "\e910";}.str-account-search-euro:before {content: "\e911";}.str-account-search-pound:before {content: "\e912";}.str-activate-contributions-plan:before {content: "\e913";}.str-add-1px:before {content: "\e914";}.str-add-in-a-circle:before {content: "\e915";}.str-add-to-calendar:before {content: "\e916";}.str-add:before {content: "\e917";}.str-aesthetics:before {content: "\e918";}.str-agile-coach1:before {content: "\e919";}.str-agile-coach2:before {content: "\e91a";}.str-agile:before {content: "\e91b";}.str-agribusiness:before {content: "\e91c";}.str-agriculture-workers:before {content: "\e91d";}.str-alert:before {content: "\e91e";}.str-alphabetical-order:before {content: "\e91f";}.str-ambulance:before {content: "\e920";}.str-american-company:before {content: "\e921";}.str-analysis:before {content: "\e922";}.str-app-santander:before {content: "\e923";}.str-appliances:before {content: "\e924";}.str-appointments:before {content: "\e925";}.str-arrow-left:before {content: "\e926";}.str-arrow-right:before {content: "\e927";}.str-assisted-navigation:before {content: "\e928";}.str-associations:before {content: "\e929";}.str-at:before {content: "\e92a";}.str-atm-dollar:before {content: "\e92b";}.str-atm-euro:before {content: "\e92c";}.str-atm-pound:before {content: "\e92d";}.str-atom:before {content: "\e92e";}.str-attachment:before {content: "\e92f";}.str-auction:before {content: "\e930";}.str-audio-off:before {content: "\e931";}.str-audio-on:before {content: "\e932";}.str-authentication:before {content: "\e933";}.str-awards:before {content: "\e934";}.str-baby-stroller:before {content: "\e935";}.str-backlog:before {content: "\e936";}.str-bag-of-money-dollar:before {content: "\e937";}.str-bag-of-money-euro:before {content: "\e938";}.str-bag-of-money-pound:before {content: "\e939";}.str-bank-branch:before {content: "\e93a";}.str-bank-fees:before {content: "\e93b";}.str-barcode:before {content: "\e93c";}.str-bath:before {content: "\e93d";}.str-bathroom:before {content: "\e93e";}.str-bbq:before {content: "\e93f";}.str-bdr:before {content: "\e940";}.str-beach:before {content: "\e941";}.str-beauty:before {content: "\e942";}.str-become-new-client:before {content: "\e943";}.str-bed:before {content: "\e944";}.str-bell:before {content: "\e945";}.str-benefitiary:before {content: "\e946";}.str-bike:before {content: "\e947";}.str-bills-dollar:before {content: "\e948";}.str-bills-euro:before {content: "\e949";}.str-bills-pound:before {content: "\e94a";}.str-boat-trip:before {content: "\e94b";}.str-bodybuilding:before {content: "\e94c";}.str-broker-platform:before {content: "\e94d";}.str-brush:before {content: "\e94e";}.str-bug:before {content: "\e94f";}.str-building:before {content: "\e950";}.str-burger-menu-1px:before {content: "\e951";}.str-burger-menu:before {content: "\e952";}.str-burn-down-charct:before {content: "\e953";}.str-burn-down-chart2:before {content: "\e954";}.str-business-alert:before {content: "\e955";}.str-business-store:before {content: "\e956";}.str-business-support:before {content: "\e957";}.str-calculator:before {content: "\e958";}.str-calendar:before {content: "\e959";}.str-camera:before {content: "\e95a";}.str-camping-gas:before {content: "\e95b";}.str-cancel-check:before {content: "\e95c";}.str-cancel-checkbook:before {content: "\e95d";}.str-cancel-next-receipt:before {content: "\e95e";}.str-cancel-transfer:before {content: "\e95f";}.str-car-02:before {content: "\e960";}.str-car:before {content: "\e961";}.str-card-block:before {content: "\e962";}.str-card-enter-ecash:before {content: "\e963";}.str-card-extract:before {content: "\e964";}.str-card-insert:before {content: "\e965";}.str-card-machine:before {content: "\e966";}.str-card-postpone-liquidation:before {content: "\e967";}.str-card-unblock-card:before {content: "\e968";}.str-card-withdraw-ecash:before {content: "\e969";}.str-card:before {content: "\e96a";}.str-carnivorous-food:before {content: "\e96b";}.str-center-position:before {content: "\e96c";}.str-champion-league:before {content: "\e96d";}.str-change-account-associate-doller:before {content: "\e96e";}.str-change-account-associate-euro:before {content: "\e96f";}.str-change-account-associate-pound:before {content: "\e970";}.str-change-beneficiary:before {content: "\e971";}.str-change-contributions:before {content: "\e972";}.str-chat:before {content: "\e973";}.str-check-asigment:before {content: "\e974";}.str-check:before {content: "\e975";}.str-checkbook:before {content: "\e976";}.str-checklist:before {content: "\e977";}.str-chemistry:before {content: "\e978";}.str-chevron-down-1px:before {content: "\e979";}.str-chevron-down:before {content: "\e97a";}.str-chevron-left-1px:before {content: "\e97b";}.str-chevron-left:before {content: "\e97c";}.str-chevron-right-1px:before {content: "\e97d";}.str-chevron-right:before {content: "\e97e";}.str-chevron-up-1px:before {content: "\e97f";}.str-chevron-up:before {content: "\e980";}.str-children:before {content: "\e981";}.str-chip-insert:before {content: "\e982";}.str-chip:before {content: "\e983";}.str-cinema:before {content: "\e984";}.str-circle-account-user:before {content: "\e985";}.str-circle-attention:before {content: "\e986";}.str-circle-block:before {content: "\e987";}.str-circle-help:before {content: "\e988";}.str-circle-information:before {content: "\e989";}.str-city:before {content: "\e98a";}.str-civil-liability:before {content: "\e98b";}.str-clean:before {content: "\e98c";}.str-clients:before {content: "\e98d";}.str-close-copy:before {content: "\e98e";}.str-close:before {content: "\e98f";}.str-cloud:before {content: "\e990";}.str-cloudy:before {content: "\e991";}.str-collapse-keyboard:before {content: "\e992";}.str-commerce:before {content: "\e993";}.str-commodities:before {content: "\e994";}.str-communication-announcement:before {content: "\e995";}.str-communication-message:before {content: "\e996";}.str-communities-02:before {content: "\e997";}.str-communities:before {content: "\e998";}.str-confirming-advances-dollar:before {content: "\e999";}.str-confirming-advances-euro:before {content: "\e99a";}.str-confirming-advances-pound:before {content: "\e99b";}.str-contacless:before {content: "\e99c";}.str-contacts:before {content: "\e99d";}.str-control:before {content: "\e99e";}.str-coordinates-card:before {content: "\e99f";}.str-copy:before {content: "\e9a0";}.str-countryside:before {content: "\e9a1";}.str-cvv-number:before {content: "\e9a2";}.str-daily:before {content: "\e9a3";}.str-day-time-change:before {content: "\e9a4";}.str-dealhandshake:before {content: "\e9a5";}.str-death:before {content: "\e9a6";}.str-debt:before {content: "\e9a7";}.str-decorations:before {content: "\e9a8";}.str-deferred-transfer:before {content: "\e9a9";}.str-definition-of-done:before {content: "\e9aa";}.str-definition-of-ready:before {content: "\e9ab";}.str-delete:before {content: "\e9ac";}.str-delivery:before {content: "\e9ad";}.str-deposits:before {content: "\e9ae";}.str-desktop:before {content: "\e9af";}.str-dice:before {content: "\e9b0";}.str-digital-subscriptions-cards:before {content: "\e9b1";}.str-digital-subscriptions:before {content: "\e9b2";}.str-digital-subscriptions2:before {content: "\e9b3";}.str-digital:before {content: "\e9b4";}.str-direct-money:before {content: "\e9b5";}.str-dirty:before {content: "\e9b6";}.str-discount-card:before {content: "\e9b7";}.str-discount:before {content: "\e9b8";}.str-dna:before {content: "\e9b9";}.str-doc:before {content: "\e9ba";}.str-doctor:before {content: "\e9bb";}.str-document-tcs:before {content: "\e9bc";}.str-dollar:before {content: "\e9bd";}.str-domestic-service:before {content: "\e9be";}.str-dots-horizontal:before {content: "\e9bf";}.str-dots-vertical:before {content: "\e9c0";}.str-double-tap:before {content: "\e9c1";}.str-download-02:before {content: "\e9c2";}.str-download:before {content: "\e9c3";}.str-drag-and-drop:before {content: "\e9c4";}.str-duplicated-receipt:before {content: "\e9c5";}.str-e-card:before {content: "\e9c6";}.str-e-cash:before {content: "\e9c7";}.str-edit-transfer:before {content: "\e9c8";}.str-edit:before {content: "\e9c9";}.str-education:before {content: "\e9ca";}.str-elderly-people:before {content: "\e9cb";}.str-electric-bike:before {content: "\e9cc";}.str-electric-car:before {content: "\e9cd";}.str-email-invoice-dollar:before {content: "\e9ce";}.str-email-invoice-euro:before {content: "\e9cf";}.str-email-invoice-pound:before {content: "\e9d0";}.str-email:before {content: "\e9d1";}.str-emoji-angry:before {content: "\e9d2";}.str-emoji-happy:before {content: "\e9d3";}.str-emoji-kiss:before {content: "\e9d4";}.str-emoji-neutral:before {content: "\e9d5";}.str-emoji-raised-eyebrow:before {content: "\e9d6";}.str-emoji-sad:before {content: "\e9d7";}.str-employees:before {content: "\e9d8";}.str-energy:before {content: "\e9d9";}.str-enter-bankbook:before {content: "\e9da";}.str-enter-fullscreen:before {content: "\e9db";}.str-enter-money-atm:before {content: "\e9dc";}.str-enter-pin:before {content: "\e9dd";}.str-entertainment-leisure:before {content: "\e9de";}.str-entrepreneurship:before {content: "\e9df";}.str-eolic-energy:before {content: "\e9e0";}.str-epic:before {content: "\e9e1";}.str-error-400500:before {content: "\e9e2";}.str-error:before {content: "\e9e3";}.str-estimation:before {content: "\e9e4";}.str-etf:before {content: "\e9e5";}.str-euro:before {content: "\e9e6";}.str-exchange:before {content: "\e9e7";}.str-exit-fullscreen:before {content: "\e9e8";}.str-face-id:before {content: "\e9e9";}.str-facebook-rrss:before {content: "\e9ea";}.str-factoring-dollar:before {content: "\e9eb";}.str-factoring-euro:before {content: "\e9ec";}.str-factoring-pound:before {content: "\e9ed";}.str-factoring:before {content: "\e9ee";}.str-factory:before {content: "\e9ef";}.str-family:before {content: "\e9f0";}.str-faq:before {content: "\e9f1";}.str-fashion:before {content: "\e9f2";}.str-fatca:before {content: "\e9f3";}.str-featured:before {content: "\e9f4";}.str-file-02:before {content: "\e9f5";}.str-file:before {content: "\e9f6";}.str-filter-deactivate:before {content: "\e9f7";}.str-filter:before {content: "\e9f8";}.str-finance-purchase-dollar:before {content: "\e9f9";}.str-finance-purchase-euro:before {content: "\e9fa";}.str-finance-purchase-pound:before {content: "\e9fb";}.str-financial-indicator:before {content: "\e9fc";}.str-financial-manager:before {content: "\e9fd";}.str-financing:before {content: "\e9fe";}.str-finger:before {content: "\e9ff";}.str-fire:before {content: "\ea00";}.str-firewall:before {content: "\ea01";}.str-fishermen:before {content: "\ea02";}.str-fixed-expenses:before {content: "\ea03";}.str-flag:before {content: "\ea04";}.str-fog:before {content: "\ea05";}.str-folder:before {content: "\ea06";}.str-font-adjust:before {content: "\ea07";}.str-font-size-decrease:before {content: "\ea08";}.str-font-size-increase:before {content: "\ea09";}.str-food1:before {content: "\ea0a";}.str-food2:before {content: "\ea0b";}.str-food3:before {content: "\ea0c";}.str-food4:before {content: "\ea0d";}.str-food5:before {content: "\ea0e";}.str-foreign-trade:before {content: "\ea0f";}.str-form:before {content: "\ea10";}.str-fragile:before {content: "\ea11";}.str-fraud:before {content: "\ea12";}.str-free-wifi:before {content: "\ea13";}.str-furniture1:before {content: "\ea14";}.str-furniture2:before {content: "\ea15";}.str-furniture3:before {content: "\ea16";}.str-furniture4:before {content: "\ea17";}.str-furniture5:before {content: "\ea18";}.str-furniture6:before {content: "\ea19";}.str-furniture7:before {content: "\ea1a";}.str-gale:before {content: "\ea1b";}.str-gas-station:before {content: "\ea1c";}.str-get-money-atm-code:before {content: "\ea1d";}.str-get-pin-number:before {content: "\ea1e";}.str-get-your-keys:before {content: "\ea1f";}.str-gift-card:before {content: "\ea20";}.str-gift-ticket:before {content: "\ea21";}.str-gift:before {content: "\ea22";}.str-golf:before {content: "\ea23";}.str-hair-stylist:before {content: "\ea24";}.str-hammer:before {content: "\ea25";}.str-health-check:before {content: "\ea26";}.str-health-insurance:before {content: "\ea27";}.str-heart:before {content: "\ea28";}.str-help-us-to-improve:before {content: "\ea29";}.str-help:before {content: "\ea2a";}.str-hi-contrast:before {content: "\ea2b";}.str-highlighted-services:before {content: "\ea2c";}.str-highway:before {content: "\ea2d";}.str-home-02:before {content: "\ea2e";}.str-home:before {content: "\ea2f";}.str-hospital:before {content: "\ea30";}.str-id-card:before {content: "\ea31";}.str-idea:before {content: "\ea32";}.str-iframe:before {content: "\ea33";}.str-image:before {content: "\ea34";}.str-inbox:before {content: "\ea35";}.str-income-tax:before {content: "\ea36";}.str-income-taxes:before {content: "\ea37";}.str-incomeexpenses:before {content: "\ea38";}.str-incomplete:before {content: "\ea39";}.str-increase1:before {content: "\ea3a";}.str-increase2:before {content: "\ea3b";}.str-industry-workers:before {content: "\ea3c";}.str-input:before {content: "\ea3d";}.str-instagram-rrss:before {content: "\ea3e";}.str-insurance:before {content: "\ea3f";}.str-international-financing:before {content: "\ea40";}.str-international:before {content: "\ea41";}.str-investment-small-caps:before {content: "\ea42";}.str-investment-team:before {content: "\ea43";}.str-investment:before {content: "\ea44";}.str-key-alt:before {content: "\ea45";}.str-key:before {content: "\ea46";}.str-keyboard:before {content: "\ea47";}.str-king:before {content: "\ea48";}.str-lake:before {content: "\ea49";}.str-lamp:before {content: "\ea4a";}.str-language:before {content: "\ea4b";}.str-laptop:before {content: "\ea4c";}.str-legal-document:before {content: "\ea4d";}.str-levy-received-dollar:before {content: "\ea4e";}.str-levy-received-euro:before {content: "\ea4f";}.str-levy-received-pound:before {content: "\ea50";}.str-levy-sent-dollar:before {content: "\ea51";}.str-levy-sent-euro:before {content: "\ea52";}.str-levy-sent-pound:before {content: "\ea53";}.str-life-show:before {content: "\ea54";}.str-lightening:before {content: "\ea55";}.str-link:before {content: "\ea56";}.str-liquidation:before {content: "\ea57";}.str-livesaver:before {content: "\ea58";}.str-location-active:before {content: "\ea59";}.str-location:before {content: "\ea5a";}.str-loyalty-card:before {content: "\ea5b";}.str-luggage:before {content: "\ea5c";}.str-magnet:before {content: "\ea5d";}.str-maintenance:before {content: "\ea5e";}.str-management-health:before {content: "\ea5f";}.str-maternity:before {content: "\ea60";}.str-medal:before {content: "\ea61";}.str-medikit-alt:before {content: "\ea62";}.str-mediumlong-term-financing:before {content: "\ea63";}.str-mic-off:before {content: "\ea64";}.str-mic-on:before {content: "\ea65";}.str-microphone:before {content: "\ea66";}.str-minimise-1px:before {content: "\ea67";}.str-minimise:before {content: "\ea68";}.str-minus:before {content: "\ea69";}.str-miscellaneous:before {content: "\ea6a";}.str-mobile-02:before {content: "\ea6b";}.str-mobile-chart:before {content: "\ea6c";}.str-mobile-landscape:before {content: "\ea6d";}.str-mobile-message:before {content: "\ea6e";}.str-mobile-payment:before {content: "\ea6f";}.str-mobile-top-up:before {content: "\ea70";}.str-mobile:before {content: "\ea71";}.str-modify-liquidation-method:before {content: "\ea72";}.str-money-cash-dollar:before {content: "\ea73";}.str-money-cash-euro:before {content: "\ea74";}.str-money-cash-pound:before {content: "\ea75";}.str-moon:before {content: "\ea76";}.str-moonclouds:before {content: "\ea77";}.str-more:before {content: "\ea78";}.str-mortgages-dollar:before {content: "\ea79";}.str-mortgages-euro:before {content: "\ea7a";}.str-mortgages-pound:before {content: "\ea7b";}.str-motor-sports:before {content: "\ea7c";}.str-motorbike:before {content: "\ea7d";}.str-mountains:before {content: "\ea7e";}.str-mouse:before {content: "\ea7f";}.str-museum:before {content: "\ea80";}.str-music:before {content: "\ea81";}.str-nail:before {content: "\ea82";}.str-news:before {content: "\ea83";}.str-next-commodities:before {content: "\ea84";}.str-nfc:before {content: "\ea85";}.str-no-messages:before {content: "\ea86";}.str-non-supported-browser:before {content: "\ea87";}.str-now:before {content: "\ea88";}.str-nut:before {content: "\ea89";}.str-nutritional:before {content: "\ea8a";}.str-offer-discount:before {content: "\ea8b";}.str-office-workers:before {content: "\ea8c";}.str-one-time-payment-dollar:before {content: "\ea8d";}.str-one-time-payment-euro:before {content: "\ea8e";}.str-one-time-payment-pound:before {content: "\ea8f";}.str-online-value-dollar:before {content: "\ea90";}.str-online-value-euro:before {content: "\ea91";}.str-online-value-pound:before {content: "\ea92";}.str-operability-level:before {content: "\ea93";}.str-operate-without-card:before {content: "\ea94";}.str-orthodontics:before {content: "\ea95";}.str-other-expenses:before {content: "\ea96";}.str-others:before {content: "\ea97";}.str-owl:before {content: "\ea98";}.str-party:before {content: "\ea99";}.str-passport:before {content: "\ea9a";}.str-password-typing:before {content: "\ea9b";}.str-payment-dollar:before {content: "\ea9c";}.str-payment-in-progress-dollar:before {content: "\ea9d";}.str-payment-in-progress-euro:before {content: "\ea9e";}.str-payment-in-progress-pound:before {content: "\ea9f";}.str-payment-pound:before {content: "\eaa0";}.str-payment-summary-dollar:before {content: "\eaa1";}.str-payment-summary-euro:before {content: "\eaa2";}.str-payment-summary-pound:before {content: "\eaa3";}.str-paymente-euro:before {content: "\eaa4";}.str-paysheet-doller:before {content: "\eaa5";}.str-paysheet-euro:before {content: "\eaa6";}.str-paysheet-pound:before {content: "\eaa7";}.str-pdf:before {content: "\eaa8";}.str-percent:before {content: "\eaa9";}.str-periodic-transfer:before {content: "\eaaa";}.str-periodical-input:before {content: "\eaab";}.str-personal-area:before {content: "\eaac";}.str-personal-manager:before {content: "\eaad";}.str-petty-cash:before {content: "\eaae";}.str-petty-cash2:before {content: "\eaaf";}.str-phising:before {content: "\eab0";}.str-phone-24hr:before {content: "\eab1";}.str-phone-call:before {content: "\eab2";}.str-phone-support-02:before {content: "\eab3";}.str-phone-support:before {content: "\eab4";}.str-phone:before {content: "\eab5";}.str-pill:before {content: "\eab6";}.str-pin:before {content: "\eab7";}.str-pinch:before {content: "\eab8";}.str-placeholder:before {content: "\eab9";}.str-plane:before {content: "\eaba";}.str-plane2:before {content: "\eabb";}.str-plant1:before {content: "\eabc";}.str-player-video:before {content: "\eabd";}.str-plug-alt:before {content: "\eabe";}.str-plug:before {content: "\eabf";}.str-plumbing:before {content: "\eac0";}.str-png:before {content: "\eac1";}.str-portability:before {content: "\eac2";}.str-portfolio-of-values:before {content: "\eac3";}.str-position:before {content: "\eac4";}.str-pound:before {content: "\eac5";}.str-ppt:before {content: "\eac6";}.str-print:before {content: "\eac7";}.str-product-delivery:before {content: "\eac8";}.str-product-owner:before {content: "\eac9";}.str-public-transportation:before {content: "\eaca";}.str-puzzle:before {content: "\eacb";}.str-qr-code:before {content: "\eacc";}.str-queries:before {content: "\eacd";}.str-quick-appointment:before {content: "\eace";}.str-quotations:before {content: "\eacf";}.str-rackets-sports:before {content: "\ead0";}.str-radar:before {content: "\ead1";}.str-radio-button:before {content: "\ead2";}.str-radio:before {content: "\ead3";}.str-rain-shower:before {content: "\ead4";}.str-rain:before {content: "\ead5";}.str-receipt-bills:before {content: "\ead6";}.str-receipt-management:before {content: "\ead7";}.str-reciclyng:before {content: "\ead8";}.str-recover-access-keys:before {content: "\ead9";}.str-recurrent-payment-dollar:before {content: "\eada";}.str-recurrent-payment-euro:before {content: "\eadb";}.str-recurrent-payment-pound:before {content: "\eadc";}.str-redemption-dollar:before {content: "\eadd";}.str-redemption-euro:before {content: "\eade";}.str-redemption-pound:before {content: "\eadf";}.str-refer-a-friend:before {content: "\eae0";}.str-refinement:before {content: "\eae1";}.str-reform:before {content: "\eae2";}.str-refresh-reload-screen:before {content: "\eae3";}.str-register:before {content: "\eae4";}.str-rejected-receipts:before {content: "\eae5";}.str-remittances-dollar:before {content: "\eae6";}.str-remittances-euro:before {content: "\eae7";}.str-remittances-pound:before {content: "\eae8";}.str-renegotiation:before {content: "\eae9";}.str-renovation:before {content: "\eaea";}.str-rent:before {content: "\eaeb";}.str-reports:before {content: "\eaec";}.str-request-an-appointment:before {content: "\eaed";}.str-restaurantbar:before {content: "\eaee";}.str-resume:before {content: "\eaef";}.str-retail:before {content: "\eaf0";}.str-retrospective:before {content: "\eaf1";}.str-return-receipt:before {content: "\eaf2";}.str-santander-plus:before {content: "\eaf3";}.str-santander2:before {content: "\eaf4";}.str-save:before {content: "\eaf5";}.str-saving-account-dollar:before {content: "\eaf6";}.str-saving-account-euro:before {content: "\eaf7";}.str-saving-account-pound:before {content: "\eaf8";}.str-savinginvestment:before {content: "\eaf9";}.str-savings:before {content: "\eafa";}.str-scales:before {content: "\eafb";}.str-scanner:before {content: "\eafc";}.str-schedule-payment-dollar:before {content: "\eafd";}.str-schedule-payment-euro:before {content: "\eafe";}.str-schedule-payment-pound:before {content: "\eaff";}.str-schedule-spending-dollar:before {content: "\eb00";}.str-schedule-spending-euro:before {content: "\eb01";}.str-schedule-spending-pound:before {content: "\eb02";}.str-screwdriver:before {content: "\eb03";}.str-scrum:before {content: "\eb04";}.str-scrummaster:before {content: "\eb05";}.str-seafood:before {content: "\eb06";}.str-search:before {content: "\eb07";}.str-security-advice:before {content: "\eb08";}.str-security-block:before {content: "\eb09";}.str-security-close:before {content: "\eb0a";}.str-security-configuration:before {content: "\eb0b";}.str-security-error:before {content: "\eb0c";}.str-security-open:before {content: "\eb0d";}.str-security-verified:before {content: "\eb0e";}.str-securize-payment:before {content: "\eb0f";}.str-selfie:before {content: "\eb10";}.str-send:before {content: "\eb11";}.str-sepa-transfers:before {content: "\eb12";}.str-settings:before {content: "\eb13";}.str-share:before {content: "\eb14";}.str-shareholders:before {content: "\eb15";}.str-short-term-financing:before {content: "\eb16";}.str-shower:before {content: "\eb17";}.str-sign-in:before {content: "\eb18";}.str-sign-off:before {content: "\eb19";}.str-sign-up:before {content: "\eb1a";}.str-signal:before {content: "\eb1b";}.str-signature-pending:before {content: "\eb1c";}.str-sitemap:before {content: "\eb1d";}.str-sketch:before {content: "\eb1e";}.str-sky:before {content: "\eb1f";}.str-smartwatch:before {content: "\eb20";}.str-snow:before {content: "\eb21";}.str-snowflake:before {content: "\eb22";}.str-soccer:before {content: "\eb23";}.str-solar-energy:before {content: "\eb24";}.str-solidarity-rounding:before {content: "\eb25";}.str-spa:before {content: "\eb26";}.str-speeches:before {content: "\eb27";}.str-sports-risk:before {content: "\eb28";}.str-sports:before {content: "\eb29";}.str-sprint-planing:before {content: "\eb2a";}.str-sprint-review:before {content: "\eb2b";}.str-sprint:before {content: "\eb2c";}.str-star:before {content: "\eb2d";}.str-statements-dollar:before {content: "\eb2e";}.str-statements-euro:before {content: "\eb2f";}.str-statements-pound:before {content: "\eb30";}.str-steps:before {content: "\eb31";}.str-stock-exchange:before {content: "\eb32";}.str-strategy:before {content: "\eb33";}.str-student:before {content: "\eb34";}.str-subscription-02:before {content: "\eb35";}.str-subscription:before {content: "\eb36";}.str-subsidiarie:before {content: "\eb37";}.str-subway:before {content: "\eb38";}.str-success:before {content: "\eb39";}.str-suncloud:before {content: "\eb3a";}.str-sunny:before {content: "\eb3b";}.str-supermarket-cart:before {content: "\eb3c";}.str-sustainable-services:before {content: "\eb3d";}.str-svg:before {content: "\eb3e";}.str-swift-cards:before {content: "\eb3f";}.str-swipe-down:before {content: "\eb40";}.str-swipe-left:before {content: "\eb41";}.str-swipe-right:before {content: "\eb42";}.str-swipe-up:before {content: "\eb43";}.str-tailor:before {content: "\eb44";}.str-tampon:before {content: "\eb45";}.str-tap:before {content: "\eb46";}.str-taxes:before {content: "\eb47";}.str-team-together:before {content: "\eb48";}.str-technological-renting:before {content: "\eb49";}.str-terminal-code:before {content: "\eb4a";}.str-tickin-a-circle:before {content: "\eb4b";}.str-ticket-movie:before {content: "\eb4c";}.str-time:before {content: "\eb4d";}.str-timeout:before {content: "\eb4e";}.str-token-migration:before {content: "\eb4f";}.str-token:before {content: "\eb50";}.str-torch:before {content: "\eb51";}.str-tow-truck:before {content: "\eb52";}.str-trade-whatsapp:before {content: "\eb53";}.str-trade:before {content: "\eb54";}.str-training:before {content: "\eb55";}.str-transactions:before {content: "\eb56";}.str-transfer-02:before {content: "\eb57";}.str-transfer:before {content: "\eb58";}.str-travel:before {content: "\eb59";}.str-trophy:before {content: "\eb5a";}.str-tutorial:before {content: "\eb5b";}.str-tv:before {content: "\eb5c";}.str-twitter-rrss:before {content: "\eb5d";}.str-twitter-rrss2:before {content: "\eb5e";}.str-twitter:before {content: "\eb5f";}.str-two-double-tap:before {content: "\eb60";}.str-two-tap:before {content: "\eb61";}.str-unicorn:before {content: "\eb62";}.str-university-02:before {content: "\eb63";}.str-university:before {content: "\eb64";}.str-upload:before {content: "\eb65";}.str-urgent:before {content: "\eb66";}.str-user-story:before {content: "\eb67";}.str-users-loading:before {content: "\eb68";}.str-utilitiesservices:before {content: "\eb69";}.str-value-decrease:before {content: "\eb6a";}.str-value-increase:before {content: "\eb6b";}.str-value:before {content: "\eb6c";}.str-vegetarian-food:before {content: "\eb6d";}.str-velocity:before {content: "\eb6e";}.str-veterinary:before {content: "\eb6f";}.str-vibration-voice:before {content: "\eb70";}.str-videochat:before {content: "\eb71";}.str-videoconference:before {content: "\eb72";}.str-videogames:before {content: "\eb73";}.str-videogames2:before {content: "\eb74";}.str-videogames3:before {content: "\eb75";}.str-videogames4:before {content: "\eb76";}.str-visibility-off:before {content: "\eb77";}.str-visibility-on:before {content: "\eb78";}.str-wallet:before {content: "\eb79";}.str-water-drop:before {content: "\eb7a";}.str-wc:before {content: "\eb7b";}.str-webmotors:before {content: "\eb7c";}.str-whatsapp:before {content: "\eb7d";}.str-wheelchair-accessibility:before {content: "\eb7e";}.str-wifi:before {content: "\eb7f";}.str-windows:before {content: "\eb80";}.str-withdraw-bankbook:before {content: "\eb81";}.str-withdraw-doller:before {content: "\eb82";}.str-withdraw-euro:before {content: "\eb83";}.str-withdraw-money-atm:before {content: "\eb84";}.str-withdraw-pound:before {content: "\eb85";}.str-withdraw-voucher:before {content: "\eb86";}.str-xls:before {content: "\eb87";}.str-yoga:before {content: "\eb88";}.str-youtube-rrsss:before {content: "\eb89";}.str-zoom-in:before {content: "\eb8a";}.str-zoom-out:before {content: "\eb8b";}
/* font santander */
@font-face{
	font-family:SantanderTextW05-Light;
	src:url(fonts/SantanderTextW05-Light.eot#iefix);
	src:url(fonts/SantanderTextW05-Light.eot#iefix) format("eot"),url(fonts/SantanderTextW05-Light.woff2) format("woff2"),url(fonts/SantanderTextW05-Light.woff) format("woff"),url(fonts/SantanderTextW05-Light.ttf) format("truetype")}
@font-face{
	font-family:SantanderTextW05-LightIt;
	src:url(fonts/SantanderTextW05-LightIt.eot#iefix);
	src:url(fonts/SantanderTextW05-LightIt.eot#iefix) format("eot"),url(fonts/SantanderTextW05-LightIt.woff2) format("woff2"),url(fonts/SantanderTextW05-LightIt.woff) format("woff"),url(fonts/SantanderTextW05-LightIt.ttf) format("truetype")}
@font-face{
	font-family:SantanderTextW05-Regular;
	src:url(fonts/SantanderTextW05-Regular.eot#iefix);
	src:url(fonts/SantanderTextW05-Regular.eot#iefix) format("eot"),url(fonts/SantanderTextW05-Regular.woff2) format("woff2"),url(fonts/SantanderTextW05-Regular.woff) format("woff"),url(fonts/SantanderTextW05-Regular.ttf) format("truetype")}
@font-face{
	font-family:SantanderTextW05-Italic;
	src:url(fonts/SantanderTextW05-Italic.eot#iefix);
	src:url(fonts/SantanderTextW05-Italic.eot#iefix) format("eot"),url(fonts/SantanderTextW05-Italic.woff2) format("woff2"),url(fonts/SantanderTextW05-Italic.woff) format("woff"),url(fonts/SantanderTextW05-Italic.ttf) format("truetype")}
@font-face{
	font-family:SantanderTextW05-Bold;
	src:url(fonts/SantanderTextW05-Bold.eot#iefix);
	src:url(fonts/SantanderTextW05-Bold.eot#iefix) format("eot"),url(fonts/SantanderTextW05-Bold.woff2) format("woff2"),url(fonts/SantanderTextW05-Bold.woff) format("woff"),url(fonts/SantanderTextW05-Bold.ttf) format("truetype")}
@font-face{
	font-family:SantanderTextW05-BoldItalic;
	src:url(fonts/SantanderTextW05-BoldItalic.eot#iefix);
	src:url(fonts/SantanderTextW05-BoldItalic.eot#iefix) format("eot"),url(fonts/SantanderTextW05-BoldItalic.woff2) format("woff2"),url(fonts/SantanderTextW05-BoldItalic.woff) format("woff"),url(fonts/SantanderTextW05-BoldItalic.ttf) format("truetype")}
@font-face{
	font-family:SantanderHeadlineW05-Bold;
	src:url(fonts/SantanderHeadlineW05-Bold.eot#iefix);
	src:url(fonts/SantanderHeadlineW05-Bold.eot#iefix) format("eot"),url(fonts/SantanderHeadlineW05-Bold.woff2) format("woff2"),url(fonts/SantanderHeadlineW05-Bold.woff) format("woff"),url(fonts/SantanderHeadlineW05-Bold.ttf) format("truetype")}
@font-face{
	font-family:SantanderHeadlineW05-Regular;
	src:url(fonts/SantanderHeadlineW05-Rg.eot);
	src:url(fonts/SantanderHeadlineW05-Rg.eot#iefix) format("eot"),url(fonts/SantanderHeadlineW05-Rg.woff2) format("woff2"),url(fonts/SantanderHeadlineW05-Rg.woff) format("woff"),url(fonts/SantanderHeadlineW05-Rg.ttf) format("truetype")}
@font-face{
	font-family:SantanderMicroTextW01-Light;
	src:url(fonts/SantanderMicroTextW01-Light.eot);
	src:url(fonts/SantanderMicroTextW01-Light.eot#iefix) format("eot"),url(fonts/SantanderMicroTextW01-Light.woff2) format("woff2"),url(fonts/SantanderMicroTextW01-Light.woff) format("woff"),url(fonts/SantanderMicroTextLt.ttf) format("truetype")}
@font-face{
	font-family:SantanderMicroTextW01-LtIt;
	src:url(fonts/SantanderMicroTextW01-LtIt.eot);
	src:url(fonts/SantanderMicroTextW01-LtIt.eot#iefix) format("eot"),url(fonts/SantanderMicroTextW01-LtIt.woff2) format("woff2"),url(fonts/SantanderMicroTextW01-LtIt.woff) format("woff"),url(fonts/SantanderMicroTextLtIt.ttf) format("truetype")}
@font-face{
	font-family:SantanderMicroTextW01-It;
	src:url(fonts/SantanderMicroTextW01-It.eot);
	src:url(fonts/SantanderMicroTextW01-It.eot#iefix) format("eot"),url(fonts/SantanderMicroTextW01-It.woff2) format("woff2"),url(fonts/SantanderMicroTextW01-It.woff) format("woff"),url(fonts/SantanderMicroTextIt.ttf) format("truetype")}
@font-face{
	font-family:SantanderMicroTextW01-Bold;
	src:url(fonts/SantanderMicroTextW01-Bold.eot);
	src:url(fonts/SantanderMicroTextW01-Bold.eot#iefix) format("eot"),url(fonts/SantanderMicroTextW01-Bold.woff2) format("woff2"),url(fonts/SantanderMicroTextW01-Bold.woff) format("woff"),url(fonts/SantanderMicroTextBd.ttf) format("truetype")}
@font-face{
	font-family:SantanderMicroTextW01-BdIt;
	src:url(fonts/SantanderMicroTextW01-BdIt.eot);
	src:url(fonts/SantanderMicroTextW01-BdIt.eot#iefix) format("eot"),url(fonts/SantanderMicroTextW01-BdIt.woff2) format("woff2"),url(fonts/SantanderMicroTextW01-BdIt.woff) format("woff"),url(fonts/SantanderMicroTextBdIt.ttf) format("truetype")}
@font-face{
	font-family:SantanderMicroTextW01-Rg;
	src:url(fonts/SantanderMicroTextW01-Rg.eot);
	src:url(fonts/SantanderMicroTextW01-Rg.eot#iefix) format("eot"),url(fonts/SantanderMicroTextW01-Rg.woff2) format("woff2"),url(fonts/SantanderMicroTextW01-Rg.woff) format("woff"),url(fonts/SantanderMicroText.ttf) format("truetype")}
/*fin font santander*/
*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    box-sizing: border-box;
    outline: none;
}
/*input*/
.input-std{
    position: relative;
    height: 70px;
    margin-bottom: 15px;
}
.input-std > *, .input-std-textarea > *{
    transition: ease-out .2s;
    -webkit-transition: ease-out .2s;
    -o-transition: ease-out .2s;
}
.input-std > input{
    height: 50px;
    width: 100%;
    color: #444;
    font-size: 17px;
    border: none;
    border-radius: 4px 4px 0 0;
    border-top: 1px solid #DEEDF2;
    border-left: 1px solid #DEEDF2;
    border-right: 1px solid #DEEDF2;
    padding: 0px 0 0 15px;
    background-color: #F7FBFC;
    font-family: SantanderTextW05-Regular;
}
.input-std > .msj-input{
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: 15px;
    bottom: 0;
    color: #444;
    font-family: SantanderTextW05-Regular;
}
.input-std > .msj-input-error{
    font-size: 14px;
    font-family: SantanderTextW05-Regular;
    font-weight: 400;
    position: absolute;
    left: 15px;
    bottom: 0;
    opacity: 0;
}
.input-std > .linea-input{
    position: absolute;
    height: 1px;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #257FA4;
}
.input-std-textarea > .linea-input{
    position: absolute;
    height: 1px;
    bottom: 5px;
    left: 0;
    width: 100%;
    background-color: #257FA4;
}
.input-std > input:focus ~ .linea-input, .input-std-textarea > textarea:focus ~ .linea-input{
    height: 2px;
}
.input-std > label, .input-std-textarea > label{
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 17px;
    font-weight: 400;
    color: #767676;
    cursor: text;
    font-family: SantanderTextW05-Regular;
}

.input-std > input:focus, .input-std > input:valid{
    padding-top: 11px;
}
.input-std > input:focus ~ label, .input-std > input:valid ~label{
    font-size: 12px;
    top: 5px;
}
.input-std > input.invalid ~ .msj-input-error{
    opacity: 1;
}
.input-std > input.invalid ~ .linea-input{
    background-color: #CC0000
}
.input-std > input.invalid ~ label, .input-std > input.invalid ~{
    color: #CC0000;
}
.input-std > input.invalid ~ .msj-input, .input-std > input.invalid ~ .msj-input-error, .input-std > input.invalid ~ label{
    color: #CC0000;
}
.input-std > .codz, .input-std > .sigPeso{
    position: absolute;
    top: 19px;
    left: 15px;
    font-family: SantanderTextW05-Regular;
    font-size: 17px;
    font-weight: 400;
    color: #767676;
    opacity: 0;
}
.input-std > input.telefono{
    padding-left: 45px;
}
.input-std > input.monto{
    padding-left: 25px;
}
.input-std > input.telefono:focus ~ .codz, .input-std > input.telefono:valid ~ .codz, .input-std > input:focus ~ .sigPeso, .input-std > input:valid ~ .sigPeso{
    opacity: 1;
}
.input-std > input.telefono.invalid ~ .msj-input{
    opacity: 0;
}
.input-std-textarea{
    position: relative;
    height: auto;
    margin-bottom: 25px;
}
.input-std-textarea > textarea{
    height: 50px;
    width: 100%;
    resize: none;
    color: #444;
    font-size: 17px;
    border: none;
    border-radius: 4px 4px 0 0;
    border-top: 1px solid #DEEDF2;
    border-left: 1px solid #DEEDF2;
    border-right: 1px solid #DEEDF2;
    padding: 15px 10px 10px 15px;
    background-color: #F7FBFC;
    font-family: SantanderTextW05-Regular;
}
.input-std-textarea > textarea:focus, .input-std-textarea > textarea:valid{
    padding: 24px 10px 15px 15px;
    height: 63px;
}
.input-std-textarea  > textarea:focus ~ label, .input-std-textarea > textarea:valid ~ label{
    font-size: 12px;
    top: 5px;
}
.input-std-textarea > .contador-text{
    position: absolute;
    right: 0;
    font-size: 14px;
    color: #444;
    bottom: -18px;
}
/*fin input*/
/*CHECKBOX*/
.cb-st{padding-bottom: 10px}
[type="checkbox"].check-std:not(:checked), [type="checkbox"].check-std:checked{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
[type="checkbox"].check-std+span{
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    user-select: none;
    font-family: SantanderTextW05-Regular;
}

[type="checkbox"].check-std:checked+span:before{
    top: 0;
    left: 1px;
    width: 4px;
    height: 10px;
    border-top: 2px solid #0000;
    border-left: 2px solid #0000;
    border-right: 3px solid #ADC000;
    border-bottom: 3px solid #ADC000;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
[type="checkbox"].check-std+span:before,
[type="checkbox"].check-std+span:after{
    content: "";
    left: 0;
    position: absolute;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
}
[type="checkbox"].check-std+span:before{
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 3px;
}
[type="checkbox"].check-std:checked+span:after{
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #444;
    background-color: #fff;
    z-index: 0;
    border-radius: 5px;
}
[type="checkbox"].check-std:not(:checked)+span:before{
    width: 0;
    height: 0;
    border: 3px solid #0000;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
[type="checkbox"].check-std:not(:checked)+span::after{
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
    top: 0px;
    z-index: 0;
}
[type="checkbox"].check-std:checked:disabled+span:before
{
    border-right: 3px solid #c2c2c2;
    border-bottom: 3px solid #c2c2c2;
}
[type="checkbox"].check-std:checked:disabled+span:after,
[type="checkbox"].check-std:disabled+span:after{
    border: 1px solid #c2c2c2;
    background-color: #f0f0f0;
}
[type="checkbox"].check-std:disabled,
[type="checkbox"].check-std:disabled+span{
    cursor: default;
}
/*FIN CHECKBOX*/
/* RADIO BUTTON */
.radio-std{
    margin-bottom: 5px;
}
.radio-std > label{
    font-size: 18px;
    color: #6D6D6D;
}
.radio-std > label > [type="radio"]:not(:checked),
.radio-std > label > [type="radio"]:checked{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    box-sizing: border-box;
    padding: 0;
}
.radio-std > label > [type="radio"]:not(:checked)+span,
.radio-std > label > [type="radio"]:checked+span{
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    padding-top: 0px;
    font-size: 18px;
    user-select: none;
    font-family:SantanderTextW05-Regular;
}
.radio-std > label > [type="radio"]:not(:checked)+span:before,
.radio-std > label > [type="radio"]:not(:checked)+span:after{
    border: 1px solid #6d6d6d;
}
.radio-std > label > [type="radio"]:checked+span:before{
    border: 1px solid #6d6d6d;
}
.radio-std > label > [type="radio"]:checked+span:after{
    border: 1px solid transparent;
}
.radio-std > label > [type="radio"]:not(:checked)+span:before,
.radio-std > label > [type="radio"]:not(:checked)+span:after,
.radio-std > label > [type="radio"]:checked+span:before,
.radio-std > label > [type="radio"]:checked+span:after{
    border-radius: 50%;
    background: white;
}
.radio-std > label > [type="radio"]+span:before,
.radio-std > label > [type="radio"]+span:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    transition: all ease .2s;
    -webkit-transition: all ease .2s;
}
.radio-std > label > [type="radio"]:not(:checked)+span:after{
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio-std > label > [type="radio"]:checked+span:after{
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    background-color: #EC0000;
}
/* FIN RADIO BUTON */
/*mensajes contextuales*/
.alert-box{
    display: table;
    padding: 8px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 10px 0;
}
.alert-box .alert-icon{
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -12px;
}
.alert-box .alert-content {
    vertical-align: middle;
    display: table-cell;
    text-align: left;
    padding: 0px 0px 0px 25px;
}
.alert-icon .conte-icon {
    background-size: 15% auto;
    text-indent: inherit;
    font-size: 15px;
    padding: 1px;
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 24px;
    color: #fff;
    line-height: 24px;
    overflow: hidden;
}
.alert-content .text-alert {
    display: block;
    color: #444;
    font-size: 12px;
    line-height: 18px;
    margin: 8px auto;
    padding: 0 20px 0 20px;
    /*font-family:SantanderTextW05-Regular;*/
    font-family:SantanderMicroTextW01-Rg;
}

.box--info{
    background-color: #DDF4F5;
}
.box--info .conte-icon{
    background-color: #1BB3BC;
}
.box--positivo{
    background-color: #F2F6DC;
}
.box--positivo .conte-icon{
    background-color: #ADC111;
}
.box--adv{
    background-color: #F8F0DF;
}
.box--adv .conte-icon{
    background-color: #E59D27;
}
.box--block{
    background-color: #FBD0D0;
}
.box--block .conte-icon{
    background-color: #EC0000;
}
/*fin mensajes contextuales*/
/*StepBox*/
.step-box{
    display: table;
    padding: 8px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
    background-color: white;
    margin: 10px 1px 0 1px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
.step-box .cont-step{
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -12px;
}
.step-box .step-mark{
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -12px;
}
.step-mark span{
    font-family:SantanderTextW05-Regular;
    font-size: 14px;
    color: #767676;
    text-transform: uppercase;
}
.cont-step span{
    display: inline-block;
    font-family:SantanderTextW05-Bold;
    width: 25px;
    height: 25px;
    font-size: 16px;
    line-height: 20px;
    color: #1BB3BC;
    border: 2px solid #1BB3BC;
    background: white;
    text-align: center;
    margin-right: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.step-box .text-step{
    vertical-align: middle;
    display: table-cell;
    text-align: left;
    padding: 0px 65px 0px 30px;
}
.text-step p{
    display: block;
    color: #444;
    font-size: 16px;
    line-height: 24px;
    margin: 8px auto;
    padding: 0 20px 0 15px;
    text-transform: uppercase;
    font-family:SantanderTextW05-Bold;
}
.bar-step{
    height: 4px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.bar-step > i{
    background: #ccc;
    display: block;
    height: 4px;
    border-radius: 2px;
    margin: 0;
    padding: 0;
}
.bar-step > i:first-child{
    border-bottom-left-radius: 10px;
}
.bar-step > i:last-child{
    border-bottom-right-radius: 10px;
}
.bar-step.dos-pasos > i{
    width: 49.5%;
}
.bar-step.tres-pasos > i{
    width: 33%;
}
.bar-step.cuatro-pasos > i{
    width: 24.5%;
}
.bar-step.paso1 > i:nth-child(1),
.bar-step.paso2 > i:nth-child(1),
.bar-step.paso2 > i:nth-child(2),
.bar-step.paso3 > i:nth-child(1),
.bar-step.paso3 > i:nth-child(2),
.bar-step.paso3 > i:nth-child(3),
.bar-step.paso4 > i:nth-child(1),
.bar-step.paso4 > i:nth-child(2),
.bar-step.paso4 > i:nth-child(3),
.bar-step.paso4 > i:nth-child(4)
{
    background: #1BB3BC;
}
@media(max-width:768px){
    .bar-step.tres-pasos > i{
        border-radius: 0;
    }
    .bar-step.tres-pasos > i {
        width: 33.5%;
        border-radius: 0;
    }
    .bar-step.dos-pasos > i {
        width: 50%;
        border-radius: 0;
    }
    .bar-step.cuatro-pasos > i{
        width: 25%;
        border-radius: 0;
    }
}
/*fin StepBox*/

/*++++++++++++PROVISORIO++++++++++++++*/
span.str-minimise{
    font-size: 21px;
}