*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    box-sizing: border-box;
    outline: none;
    font-family:SantanderTextW05-Regular;
}
.pad-left-300{
    padding-left: 300px;
}
.mar-left-300{
    margin-left: 300px;
}
.pad-bot-15{
    padding-bottom: 15px;
}
.pad-bot-20{
    padding-bottom: 20px;
}
.pad-bot-25{
    padding-bottom: 25px;
}
.pad-bot-30{
    padding-bottom: 30px;
}
.contenedor-home{
    min-height: 400px;
}
.titleIf{
    font-size: 22px;
    line-height: 22px;
    margin: 15px 0 30px 0;
    color: #444;
    font-weight: 400;
    font-family:SantanderTextW05-Regular;
}
.tipografias > p{
    font-size: 18px;
    margin: 5px 0 15px;
    color: #444;
}
.tipografias .cont-codigo{
    padding: 0px 0 1px;
    max-width: 500px;
}
.title-type{
    font-family:SantanderTextW05-Bold;
    font-size: 14px;
    display: block;
    padding-top: 15px;
    color: chocolate;
}
.std-text-light{
    font-family:SantanderTextW05-Light;
}
.std-text-light-italic{
    font-family:SantanderTextW05-LightIt;
}
.std-text-regular{
    font-family:SantanderTextW05-Regular;
}
.std-text-italic{
    font-family:SantanderTextW05-Italic;
}
.std-text-bold{
    font-family:SantanderTextW05-Bold;
}
.std-text-bold-italic{
    font-family:SantanderTextW05-BoldItalic;
}
.std-headline-bold{
    font-family:SantanderHeadlineW05-Bold;
}
.std-headline-regular{
    font-family:SantanderHeadlineW05-Regular;
}
.std-micro-light{
    font-family:SantanderMicroTextW01-Light;
    font-size: 12px !important;
}
.std-micro-light-italic{
    font-family:SantanderMicroTextW01-LtIt;
    font-size: 12px !important;
}
#contOp{
    width: -webkit-fill-available;
    height: fit-content;
    padding-right: 10px;
}
.titleLib > a{
    padding: 15px !important;
    font-weight: 200 !important;
    font-size: 22px !important;
    font-family:SantanderTextW05-LightIt;
    height: auto !important;
    line-height: 22px !important;
    border-bottom: 1px solid #ddd;
}
.separador{
    width: 100%;
    height: 1px;
    background-color: #DDD;
    margin-top: 15px;
}
.cont{
    max-width: 480px;
}
.cont-codigo{
    padding: 15px 0;
    max-width: 850px;
}
.cont-codigo > h2{
    font-size: 18px;
    color: #444;
    margin-top: 20px;
    font-family: SantanderTextW05-Regular;
    font-weight: 400;
}
.descargar{
    padding: 15px 0;
}
.descargar > a{
    padding: 7px 15px;
    background-color: #8ad0d0;
    border-radius: 40px;
    font-size: 14px;
    text-decoration: none;
    color: #444;
    margin-right: 15px;
    border: none;
    transition: all ease-out .2s;
    -webkit-transition: all ease-out .2s;
}
.descargar > a:hover{
    background-color: #489393;
    color: white;
}
.sidenav{
    width: 280px;
}
.row-ico{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    position: relative;
}
.row-ico > .col-2{
    cursor: pointer;
    max-width: 16.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.666667%;
    padding: 15px 15px 25px;
    margin: 0px 25px 25px 0;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
}
.row-ico > .col-2 > .cont-icon{
    position: relative;
}
.copiado{
    display: none;
    position: absolute;
    background: #619943;
    width: 115px;
    color: white;
    padding: 12px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    bottom: -70px;
    left: 0;
    right: 0;
    font-family:SantanderTextW05-Bold;
}
.row-ico > .col-2.text-center{
    text-align: center;
}
.f-42 {
    font-size: 42px;
}
.f-14{
    font-size: 14px;
    line-height: 14px;
    color: #444;
}